.videos{ margin: 100px 0px 0px 0px; padding: 50px 50px 50px 70px; }

#video1{ margin: 0px 30px 20px 0px; border: solid 10px #169488; }

#video2{ margin: 0px 30px 20px 0px; border: solid 10px #169488; }

#video3{ margin: 0px 30px 20px 0px; border: solid 10px #169488; }

#video4{ margin: 0px 30px 20px 0px; border: solid 10px #169488;}

#video5{ margin: 0px 30px 20px 0px; border: solid 10px #169488;}

#video6{ margin: 0px 30px 20px 0px; border: solid 10px #169488;}

#redes_y_copy{ margin-top: 10px; }

#instagram_artista{  margin-left: 520px; }
    
#instagram_grupo{ margin-left: 610px; margin-top: -51px; }

#twitter_artista{ margin-top: -52px ; margin-left: 690px; }

#twitter_grupo{ margin-left: 780px; margin-top: -53px; }

#copy{ text-align: center; }